<!-- workout.component.html -->
<div class="d-lg-flex align-items-lg-center">
  <app-text-edit [elementType]="'p'" [text]="workout.name" [editing]="editingWorkout" (onSave)="updateWorkoutName($event)"></app-text-edit>
  <div class="d-flex justify-content-center" style="margin-top: 4px;margin-right: 0px;margin-left: 10px;">
    <div class="clickble" style="margin-left: 10px;" (click)="changeWorkoutEdit()" >
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil d-lg-flex align-self-start">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
      </svg>
    </div>
    <div class="clickble" style="margin-left: 10px;" (click)="eliminate()">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash d-lg-flex align-self-start">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
      </svg>
    </div>
  </div>
  </div>
  <ul>
    <li *ngFor="let exercise of workout.exercises">
      <div class="d-lg-flex align-items-lg-center">
        <span>{{exercise.name}}</span>
        <div class="clickble"  (click)="eliminateExercise(exercise)">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash d-lg-flex align-self-start" style="margin-top: 4px;margin-right: 0px;margin-left: 10px;">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
          </svg>
        </div>
      </div>
    </li>
  </ul>
  <button class="btn btn-link p-0" style="color: #198754;" (click)="modalVisible = true">+ Add Exercise</button>

  <app-modal [(visible)]="modalVisible"
             (visibleChange)="modalVisibleChange($event)"
             (save)="saveExercise()"
             title="Create or Search Exercise">
    <div class="d-flex justify-content-center mb-3">
      <div class="btn-group" role="group" aria-label="Create or search">
        <button class="btn btn-secondary me-2" [class.active]="toggleState === 'create'" (click)="toggleState = 'create'">Create</button>
        <button class="btn btn-secondary ms-2" [class.active]="toggleState === 'search'" (click)="toggleState = 'search'">Search</button>
      </div>
    </div>
    <!-- Create Exercise Form -->
    <form *ngIf="toggleState === 'create'" [formGroup]="form">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" required />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" formControlName="description" />
      </div>
      <div class="mb-3">
        <label for="target" class="form-label">Target</label>
        <input type="text" class="form-control" id="target" formControlName="target" />
      </div>
      <div class="mb-3">
        <label for="gifUrl" class="form-label">GIF URL</label>
        <input type="text" class="form-control" id="gifUrl" formControlName="gifUrl" />
      </div>
      <div class="mb-3">
        <label for="bodyPart" class="form-label">Body Part</label>
        <input type="text" class="form-control" id="bodyPart" formControlName="bodyPart" />
      </div>
      <div class="mb-3">
        <label for="equipment" class="form-label">Equipment</label>
        <input type="text" class="form-control" id="equipment" formControlName="equipment" />
      </div>
    </form>

    <!-- Search Exercise -->
    <div *ngIf="toggleState === 'search'">
      <div class="mb-3">
        <label for="search" class="form-label">Search Exercise</label>
        <input type="text" class="form-control" id="search" (input)="searchExercises($event)" />
      </div>
      <ul class="list-group">
        <li class="list-group-item black" *ngFor="let exercise of searchResults" (click)="selectExercise(exercise)">
          {{exercise.name}}
        </li>
      </ul>
    </div>
  </app-modal>
