<div class="container py-5" *ngIf="aula != undefined">
  <small style="text-decoration: underline; cursor: pointer;" (click)="aula = undefined">More classes</small>
  <div class="row mb-4 mb-lg-5">
    <div class="row mb-4 mb-lg-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="fw-bold">{{ aula.name }}</h2>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width:900px;">
    <div class="col mb-5">
      <img class="rounded img-fluid shadow" [src]="aula.image" />
    </div>
    <div class="col align-self-center mb-5">
      <div>
        <h5 class="fw-bold">What is it?</h5>
        <p>{{ aula.description }}</p>
      </div>
      <div>
        <h5 class="fw-bold">Limit</h5>
        <p>{{ aula.limit }} students</p>
      </div>
      <div>
        <h5 class="fw-bold">Duration</h5>
        <p>{{ aula.duration }} minutes</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!aula; then aulasDisponiveis"></div>
<div *ngIf="aula && createComponent; then create"></div>
<div *ngIf="aula && !createComponent && isLoggedIn(); then list"></div>

<ng-template #create>
  <div class="col-md-8 col-xl-6 text-center mx-auto">
    <h3>Create Class</h3>
  </div>
  <small style="text-decoration: underline; cursor: pointer;" (click)="this.createComponent = false">Back</small>
  <div *ngIf="!createComponent">
    <a (click)="onCreateClick()" class="btn btn-success">Create</a>
  </div>
  <form #createAulaForm="ngForm" (ngSubmit)="onSubmit(createAulaForm, aula)">
    <div class="form-group" style="padding-bottom: 30px; padding-top: 30px">
      <label for="startDate" style="padding-right: 10px">Start Date:</label>
      <input required ngModel #startDate="ngModel" type="datetime-local" id="startDate" name="startDate"
             min="{{today | date:'yyyy-MM-ddTHH:mm:ss'}}" />
      <div class="alert alert-danger" *ngIf="startDate.touched && !startDate.valid">
        <div *ngIf="startDate.errors?.['required']">Select a start date and time</div>
        <div *ngIf="startDate.errors?.['min']">Start date and time cannot be before now</div>
      </div>
    </div>
    <div class="form-group" style="padding-bottom: 30px">
      <button type="submit" class="btn-success btn" [disabled]="!createAulaForm.valid">Create</button>
    </div>
  </form>
</ng-template>

<ng-template #list>
  <div class="col-md-8 col-xl-6 text-center mx-auto">
    <h3>Next Classes</h3>
  </div>
  <div>
    <a *ngIf="showCreateButton()" (click)="onCreateClick()" class="btn btn-success">Create</a>
  </div>
  <label *ngIf="aulas.length == 0" style="padding-bottom: 30px; padding-top: 30px">There are no scheduled classes.</label>
  <table *ngIf="aula && aulas.length != 0" class="table" aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>Coach</th>
        <th>Students</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of aulas">
        <td>{{ a.startDate | date:'dd-MM-yyyy hh:mm:ss' }}</td>
        <td>{{ a.coach }}</td>
        <td>{{ a.members.length }}</td>
        <td>
          <a *ngIf="showJoinButton(a)" (click)="joinClass(a.id)" class="btn btn-outline-success">Join</a>
          <a *ngIf="showLeaveButton(a)" (click)="leaveClass(a.id)" class="btn btn-outline-danger">Leave</a>
          <a *ngIf="showRemoveButton()" (click)="deleteClass(a.id)" class="btn btn-outline-danger">Remove</a>
          <!--<a (click)="onStudentsClick(a.members)" class="btn btn-info">Students</a>-->
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>

<app-modal [(visible)]="studentsVisible"
           (visibleChange)="modalVisibleChange($event)"
           title="Students">
  <div>
    <table class='table' aria-labelledby="tableLabel" *ngIf="students != null">
    <!--<thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Limit</th>
        <th>Duration</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ aula.id }}</td>
        <td>{{ aula.name }}</td>
        <td>{{ aula.description }}</td>
        <td>{{ aula.limit }}</td>
        <td>{{ aula.duration }}</td>
        <td class="container">
          <img class="rounded img-fluid shadow w-100 fit-cover" [src]="aula.image">
          <div class="middle">{{ aula.name }}</div>
        </td>
      </tr>
    </tbody>-->
  </table>
    </div>
  </app-modal>

  <ng-template #aulasDisponiveis>
    <app-aulas-disponiveis></app-aulas-disponiveis>
  </ng-template>

  <!--<mwl-calendar-month-view>
  </mwl-calendar-month-view>-->
    <!--<table class='table' aria-labelledby="tableLabel" *ngIf="aula != null">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Limit</th>
        <th>Duration</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ aula.id }}</td>
        <td>{{ aula.name }}</td>
        <td>{{ aula.description }}</td>
        <td>{{ aula.limit }}</td>
        <td>{{ aula.duration }}</td>
        <td class="container">
          <img class="rounded img-fluid shadow w-100 fit-cover" [src]="aula.image">
          <div class="middle">{{ aula.name }}</div>
        </td>
      </tr>
    </tbody>
  </table>-->
