@model PVGym.Models.Workout
@using PVGym.Models
@inject Microsoft.AspNetCore.Mvc.Rendering.IHtmlHelper htmlHelper

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercises" class="control-label">Exercises</label>
                <select asp-for="Exercises" asp-items="@(new SelectList(ViewData["Exercises"] as IEnumerable<SelectListItem>, "Value", "Text"))" class="form-control" multiple="multiple" size="5">
                    <option value="">-- Select Exercises --</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
