<div style="margin-top: 30px;margin-bottom: 30px;">
  <div class="d-lg-flex align-items-lg-center">
    <app-text-edit [elementType]="'h4'" style="margin-bottom: 20px;" [text]="plan.name" [editing]="editingPlan" (onSave)="updatePlanName($event)"></app-text-edit>
    <div class="clickble" (click)="assignMemberModalVisible = true">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-plus d-lg-flex align-self-start" style="margin-top: 4px;margin-right: 0px;margin-left: 10px;">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"></path>
      </svg>
    </div>
    <div class="clickble" (click)="changeWorkoutEdit()">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-pencil d-lg-flex align-self-start" style="margin-top: 4px;margin-right: 0px;margin-left: 10px;">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
      </svg>
    </div>
    <div class="clickble" (click)="deletePlan()">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-trash d-lg-flex align-self-start" style="margin-top: 4px;margin-right: 0px;margin-left: 10px;">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
      </svg>
    </div>
  </div>
  <button class="btn btn-link p-0" style="color: #198754;" (click)="modalVisible = true">+ Add Workout</button>
  <div class="row" style="margin-top: 15px;">
    <app-workout class="col" *ngFor="let workout of plan.workouts" [workout]="workout" [notifyWorkout]="notifyWorkout" [eliminateWorkout]="boundedEliminateWorkout"></app-workout>
  </div>
  <app-modal [(visible)]="modalVisible"
             (visibleChange)="modalVisibleChange($event)"
             (save)="saveWorkout()"
             title="Add Workout">
    <form [formGroup]="workoutForm">
      <div class="mb-3">
        <div class="btn-group" role="group" aria-label="Create or search">
          <button type="button" class="btn btn-secondary me-2" [class.active]="toggleState === 'create'" (click)="toggleState = 'create'">Create</button>
          <button type="button" class="btn btn-secondary ms-2" [class.active]="toggleState === 'search'" (click)="toggleState = 'search'">Search</button>
        </div>
      </div>

      <ng-container *ngIf="toggleState === 'create'">
        <div class="mb-3">
          <label for="workoutName" class="form-label">Workout Name</label>
          <input type="text" class="form-control" id="workoutName" formControlName="name" required />
        </div>
      </ng-container>

      <ng-container *ngIf="toggleState === 'search'">
        <div class="mb-3">
          <label for="workoutSearch" class="form-label">Search Workouts</label>
          <input type="text" class="form-control" id="workoutSearch" (input)="searchWorkouts($event)" />
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let workout of searchResults" (click)="selectWorkout(workout)">
            {{workout.name}}
          </li>
        </ul>
      </ng-container>
    </form>
  </app-modal>

  <app-modal [(visible)]="assignMemberModalVisible"
             (visibleChange)="assignMemberModalVisibleChange($event)"
             (save)="assignMember()"
             title="Assign Member">
    <form [formGroup]="memberForm">
      <div class="mb-3">
        <label for="memberEmail" class="form-label">Member Email</label>
        <input type="email" class="form-control" id="memberEmail" formControlName="email" required />
      </div>
    </form>
  </app-modal>
</div>
