<br />
<form autocomplete="off">
  <div class="mb-3 form-group required">
    <input class="form-control" formControlName="UserName" placeholder="Username" value="{{userData.userName}}">
  </div>
  <div class="mb-3 form-group required">
    <input class="form-control" formControlName="Email" placeholder="Email" value="{{userData.email}}">
  </div>
  <div class="mb-3 form-group required">
    <input type="password" class="form-control" formControlName="Password" placeholder="Password">
  </div>
  <div class="mb-3 form-group required">
    <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Password">
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block">Update</button>
    </div>
  </div>
</form>
