
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">PVGymAngularClient</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/treinos']">Treinos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/planos']">Planos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="service.isMember() || service.isStaff()">
            <a class="nav-link text-dark" [routerLink]="['/physicalEvaluation']">Physical Evaluations</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/notification']">Notifications <img *ngIf="newNotifications?.length !== 0" src="../../assets/img/alerta.png" alt="New Notifications" style="width: 16px; height: 16px;"></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="service.isLoggedIn()">
            <a class="nav-link text-dark" [routerLink]="['/profile']">Profile</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/aulas']">My Classes</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/aulasDisponiveis']">Available Classes</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="service.isAdmin() || service.isStaff()">
            <a class="nav-link text-dark" [routerLink]="['/register']">Add Member</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="service.isAdmin()">
            <a class="nav-link text-dark" [routerLink]="['/add-staff']">Add Staff</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!service.isLoggedIn()">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="service.isLoggedIn()">
            <a class="nav-link text-dark" [routerLink]="['/']" (click)="service.logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
