@{
    ViewData["Title"] = "About .Gym";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>O projeto .GYM é uma aplicação inovadora de gestão de ginásio, desenvolvida no âmbito do curso de Programação Visual, que busca melhorar a experiência dos utilizadores ao facilitar a interação entre clientes e treinadores e simplificar a gestão de todos os processos inerentes ao funcionamento de um ginásio.

    </p>
    <p>
        A aplicação .GYM foi desenvolvida com uma interface fácil de usar e uma ampla variedade de recursos. Ela atende às seguintes necessidades: permite que o responsável pelo ginásio registe clientes e treinadores com suas informações pessoais; os utilizadores podem atualizar informações em suas contas, como a senha; a aplicação gerencia os diferentes níveis de acesso dos utilizadores conforme seu perfil; os treinadores podem acompanhar o progresso físico dos clientes; os treinadores podem criar e atribuir planos de treino personalizados aos clientes; a aplicação facilita a organização das atividades dos treinadores, permitindo a criação de aulas; e os clientes podem se inscrever nas aulas disponíveis.
    </p>
    <p>
        Além disso, a aplicação .GYM inclui estatísticas e notificações, proporcionando um acompanhamento completo e em tempo real do desempenho dos utilizadores e mantendo-os informados sobre eventos relevantes.
    </p>
</div>
