@{
    ViewData["Title"] = ".GYM Back End";
}

<div class="text-center">
    <h1 class="display-4">Welcome the .GYM back end</h1>
    <p>You only can acess the back end if are admin</p>
    <p>To acess the .gym website follow this <a href="https://localhost:44434/">link</a></p>
</div>
