<div *ngIf="aulasDisponiveis.length == 0">
  <p>Não há aulas disponíveis</p>
</div>

<div *ngIf="aulasDisponiveis.length > 0 && selectedAula == undefined" class="grid">
  <div class="box" *ngFor="let aula of aulasDisponiveis">
    <td class="container" (click)="selectedAula = aula" style="cursor: pointer;">
      <img class="rounded img-fluid" [src]="aula.image">
      <div class="middle">{{ aula.name }}</div>
    </td>
  </div>
</div>

<div *ngIf="aulasDisponiveis.length > 0 && selectedAula != undefined; then details"></div>

<ng-template #details>
  <app-aula-descricao [aula]="selectedAula"></app-aula-descricao>
</ng-template>













<!--<app-modal [(visible)]="modalVisible"
           (visibleChange)="modalVisibleChange($event)"
           (save)="createClass()"
           title="Create New Plan">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="planName" class="form-label">Plan Name</label>
      <input type="text" class="form-control" id="planName" formControlName="name" required />
    </div>
  </form>
</app-modal>-->


<!--<table class='table' aria-labelledby="tableLabel" *ngIf="aulasDisponiveis">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Limit</th>
      <th>Duration</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let aula of aulasDisponiveis">
      <td>{{ aula.id }}</td>
      <td>{{ aula.name }}</td>
      <td>{{ aula.description }}</td>
      <td>{{ aula.limit }}</td>
      <td>{{ aula.duration }}</td>
      <td class="container">
        <img class="rounded img-fluid shadow w-100 fit-cover" [src]="aula.image">
        <div class="middle">{{ aula.name }}</div>
      </td>
    </tr>
  </tbody>
</table>-->
