<div *ngIf="aulasDisponiveis.length == 0">
  <p>There are no available classes...</p>
</div>

<div *ngIf="aulasDisponiveis.length > 0 && selectedAula == undefined" style="height:100%;" class="grid">
  <div class="box" *ngFor="let aula of aulasDisponiveis">
    <td class="container" (click)="getAulas(aula)" style="cursor: pointer;">
      <div class="container image-container rounded" [style.background-image]="'url(' + aula.image + ')'"></div>
      <div class="middle">{{ aula.name }}</div>
    </td>
  </div>
</div>

<div *ngIf="aulasDisponiveis.length > 0 && selectedAula != undefined; then details"></div>

<ng-template #details>
  <app-aula-descricao [aula]="selectedAula" [aulas]="aulas" [isInClass]="isInClass"></app-aula-descricao>
</ng-template>
