/* You can add global styles to this file, and also import other style files */

html {
  margin: 0;
  height: 100%;
}

body {
  background-color: #2d2c38;
  height: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    color: #fff
}

.clickble {
  cursor: pointer;
}

svg {
    color: white;
}
