<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Sign up - PVGym</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
  <section class="py-5">
    <div class="container py-5">
      <div class="row mb-4 mb-lg-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <h2 class="fw-bold">New Member</h2>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-xl-4">
          <div class="card">
            <div class="card-body text-center d-flex flex-column align-items-center">
              <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
              </div>
              <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
                <div class="mb-3 form-group required">
                  <input class="form-control" formControlName="userName" placeholder="Username">
                  <p *ngIf="service.formModel.get('userName')?.touched && service.formModel.get('userName')?.hasError('required')" class="text-danger">
                    Username is required
                  </p>
                </div>
                <div class="mb-3 form-group required">
                  <input class="form-control" formControlName="email" placeholder="Email">
                  <p *ngIf="service.formModel.get('email')?.touched && service.formModel.get('email')?.hasError('required')" class="text-danger">
                    Email is required
                  </p>
                  <p *ngIf="service.formModel.get('email')?.hasError('email')" class="text-danger">
                    Email is invalid
                  </p>
                </div>
                <div class="mb-3 form-group required">
                  <input type="password" class="form-control" formControlName="password" placeholder="Password">
                  <p *ngIf="service.formModel.get('password')?.touched && service.formModel.get('password')?.hasError('required')" class="text-danger">
                    Password is required
                  </p>
                </div>
                <div class="mb-3 form-group required">
                  <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
                </div>
                <div class="mb-3 form-group required">
                  <input class="form-control" formControlName="VAT" placeholder="VAT">
                  <p *ngIf="service.formModel.get('VAT')?.touched && service.formModel.get('VAT')?.hasError('required')" class="text-danger">
                    VAT is required
                  </p>
                </div>
                <div class="mb-3 form-group required">
                  <select id="planType" class="form-control" formControlName="planType">
                    <option value="normal">Normal Plan</option>
                    <option value="premium">Premium Plan</option>
                  </select>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-success btn-block">Sign Up</button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
      </div>
     </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
  </body>

  </html>
